<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="shortcut icon" th:href="@{img/rektorat-flat-removebg.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>MyAcademia - Home</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyAcademia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: #F1A350 !important;">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/matkul}">Mata Kuliah</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Long Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Short Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item logout">
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="main-container row">
    <div class="kiri logo col-lg-7">
        <img th:src="@{/img/team.jpg}" alt="team" class="main-logo">
    </div>
    <div class="kanan col-lg-5">
        <div class="halo">
            <h4>Halo, <span style="color: #F1A350;" th:text="${nama}"></span></h4>
        </div>
        <div class="selamat">
            <h6>Selamat datang di MyAcademia</h6>
        </div>
        <div class="about">
            <h6>
                MyAcademia adalah sebuah platform yang membantu mahasiswa UI khususnya Fakultas Ilmu Komputer untuk merencanakan studi mereka baik jangka pendek mapun jangka panjang
            </h6>
        </div>
        <div>
            <button type="button" class="tombol-mulai btn btn-warning"><a th:href="@{/api/matkul}" style="text-decoration: none;color: #ffffff;">Mulai</a></button>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
